#p1{
    color:white;
    text-size-adjust: 50px;
    padding-left: 10px;
    font-weight: 500px;
    text-align: center;
    padding-bottom: 20px;
}
#h1{
    padding-top:10px ;
    padding-left: 10px;
    color: white;
    font-style:normal;
    font-weight: 600px;
    text-align: center;
}
#div{
   text-align: center;
   padding-top: 100px;
}
